.diamond {
	background-image: url('../images/diamond.png');
}

.spade {
	background-image: url('../images/spade.png');
}

.heart {
	background-image: url('../images/heart.png');
}

.club {
	background-image: url('../images/club.png');
}

.suit {
	display: inline-block;
	width: 11px;
	height: 11px;
	background-size: cover;
}

.count {
	font-weight: bold;
}

.hidden {
	display: none;
}

.actions {
	width: 500px;
	display: flex;
}

a {
	box-sizing: border-box;font-weight: 500;
    outline: none;
    padding: 3px 7px 4px 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    color: #585a61;
    border: 1px solid #ced1e1;
    border-color: #e2e2e2;
    border-radius: 3px;
    height: 30px;
    margin-right: 10px;
}

a:hover {
	border: 1px solid #515359;
}

.play_area {
	border: 1px solid gray;
    padding: 8px;
    border-radius: 4px;
    width: 320px;
    margin-bottom: 100px;
}

.player {
	margin-top: 50px;
}

.hitme {
	height: 40px;
    margin-top: 10px;
}